@*@using WebUITamhmor;*@
@*@model dynamic*@
@model IEnumerable<WebUITamhmor.Models.DoctorModel>
@*@model Tuple<DoctorModel, GoogleProfile>*@
@*@model MultipleModels.Models.VeiwModel*@



@{
    ViewData["Title"] = "DepartmentDoctor";
}

<head>
    <meta name="google-signin-client_id" content="861604544363-p3eog8kh3poagq9go228thrffnv0ohsu.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>

<body onload="javascript:checkLogin()">
    <h3 onload="javascript:checkLogin() ></h3onload=" javascript:checkLogin()>


        @foreach (var item in Model)
        {
            <h2 id="GG-Name" />
            <div class=" container row">

                <div class="col-sm-3">

                    <form class="form-control border border-1 text-center "
                          style="padding-bottom: 60px; padding-top:20px; margin: 20px; font-size:30px; ">

                        @Html.DisplayFor(modelItem => item.Ddepartment)
                    </form>
                    <button type="button" class="btn btn-info center-block">@Html.ActionLink("เลือก", "ListDoctor", new { Ddepartment = item.Ddepartment })</button>
                </div>

            </div>


        }
        
        <button onclick="signOut()">Sign out</button>
</body>

<script type="text/javascript">
    function checkLogin() {
        const name = localStorage.getItem('name');
        if (!name) {
            window.location.href = "/";
        }
        document.getElementById('GG-Name').innerHTML = name;
        // logout
        // ...
        //localStorage.removeItem('name');
    }
</script>


<script>
    function signOut() {
        gapi.auth2.getAuthInstance().signOut().then(function () {
            console.log('user signed out')
        })
    }
</script>


@*<script>
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
            if (auth2 == null) {
                window.location.href = "/";
            }
        }
    </script>*@
@*<script>
        function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            document.getElementsByClassName("userContent")[0].innerHTML = '';
            document.getElementsByClassName("userContent")[0].style.display = "none";
            document.getElementById("gSignIn").style.display = "block";
        });

        auth2.disconnect();
    }
    </script>*@

