@model WebUITamhmor.Models.GoogleProfile
@{
    ViewData["Title"] = "Login";
}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="861604544363-p3eog8kh3poagq9go228thrffnv0ohsu.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container  table-bordered" style="margin:20px; padding:50px;">
        <div style="text-align:center">
            <h2 style="margin:20px">Login</h2>
            <div class="g-signin2" data-onsuccess="onSignIn" style="margin-left:45%;"></div>
        </div>
    </div>
    @Html.HiddenFor(model => model.Id, new { id = "id" })
    @Html.HiddenFor(model => model.Name, new { id = "name" })
    @Html.HiddenFor(model => model.Image, new { id = "image" })
    @Html.HiddenFor(model => model.Email, new { id = "email" })

</body>

<script>
    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        console.log(googleUser)
        /*console.log('ID: ' + profile.getId());
        console.log('Name: ' + profile.getName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail());*/
        localStorage.setItem('name', profile.getName());
        $('#id').val(profile.getId());
        $('#name').val(profile.getName());
        $('#image').val(profile.getImageUrl());
        $('#email').val(profile.getEmail());
        window.location.href = "/DetailDoctor/DepartmentDoctor";
    }
</script>




